body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.App {
  width: 400px;
}

.flex {
  display: flex;
}

.flex-wrap {
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 5px;

}

.btn_another {
  margin-top: 5px;
  padding: 5px;
  margin-right: 10px;
}
.button {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 34px;
  text-align: center;
}

.guessed,
.hidden {
  display: none;
}

.letter {
  border: 1px solid #ccc;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
}