body {
  background-color: rgb(27, 25, 25);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
a {
  text-decoration: none;
  color: rgb(234, 208, 41);
}
.quizTbl {
  color: white;
  width: 1000px;
  height: 400px;
  border: 1px solid grey;
  border-radius: 5px;
  border-collapse: collapse;  
  text-align: center;
}

.quizTbl th {
  min-width: 50px;
  margin: 5px;
  padding: 10px;
}

.quizTbl td {
  margin: 5px;
  padding: 10px;
}